.vs
*.opendb
*.db
*.vcxproj.user
x64
Release
Debug
bin/
*.d
*.o
*/packages/*
contrib/curl
*/build/unix/*
*/build/win32/packages
!*/build/unix/*.mk
!*/build/unix/Makefile
*.swp
browser/Browser.pro.user
build-Browser-Desktop_Qt*
